button {
    letter-spacing: 2px;
}

.app {
    background-color: #fff;
}

.tweets-container {
    flex: 1;
    overflow: auto;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container svg {
    margin-right: 8px;
}
